<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Donation Explorer</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Rechercher un bénéficiaire</h1>

      <form class="form-horizontal">
        <!-- Search input-->
        <div class="form-group">

          <div class="col-md-offset-2 col-md-8">
            <div>
              <input id="searchinput" name="searchinput" type="search" placeholder="Ex: Koffi Kodjo"
                     class="form-control input-md" required="">
            </div>
          </div>

        </div>


      </form>

    </div>
  </div>

  <div class="row">
    <h3>Résultats de recherche pour: Koffi kodjo</h3>
    <div class="col-md-2 column productbox">
      <img src="http://placehold.it/460x250/e67e22/ffffff&text=photo mini" class="img-responsive">
      <div class="producttitle">Kodjo Koffi (Lomé)</div>
      <div class="productprice">
        <div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button"><i class="fa fa-eye"></i></a>
        </div>
        <div class="pricetext">#5013</div>
      </div>
    </div>
    <div class="col-md-2 column productbox">
      <img src="http://placehold.it/460x250/e67e22/ffffff&text=image mini" class="img-responsive">
      <div class="producttitle">Kodjo Koffi (Kara)</div>
      <div class="productprice">
        <div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button"><i class="fa fa-eye"></i></a>
        </div>
        <div class="pricetext">#5015</div>
      </div>
    </div>
    <div class="col-md-2 column productbox">
      <img src="http://placehold.it/460x250/e67e22/ffffff&text=image mini" class="img-responsive">
      <div class="producttitle">Kodjo Koffi (Kara)</div>
      <div class="productprice">
        <div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button"><i class="fa fa-eye"></i></a>
        </div>
        <div class="pricetext">#6012</div>
      </div>
    </div>
    <div class="col-md-2 column productbox">
      <img src="http://placehold.it/460x250/e67e22/ffffff&text=image mini" class="img-responsive">
      <div class="producttitle">Kodjo Koffi (Kara)</div>
      <div class="productprice">
        <div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button"><i class="fa fa-eye"></i></a>
        </div>
        <div class="pricetext">#7054</div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="http://lorempixel.com/250/250/cats/1"
               class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Koffi Kodj
          </div>
          <div class="profile-usertitle-job">
            CE1
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Description </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Documents
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Commentaires </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <h2>A propos de Koffi Kodjo</h2>
        <p>
          Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
        </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="container">
      <div class="page-header">
        <h1 id="">Historique</h1>
      </div>

      <div id="timeline">
        <div class="row timeline-movement timeline-movement-top">
          <div class="timeline-badge timeline-future-movement">
            <a href="#">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </div>
          <div class="timeline-badge timeline-filter-movement">
            <a href="#">
              <span class="glyphicon glyphicon-time"></span>
            </a>
          </div>
        </div>
        <div class="row timeline-movement">
          <div class="timeline-badge">
            <span class="timeline-balloon-date-day">18</span>
            <span class="timeline-balloon-date-month">APR</span>
          </div>
          <div class="col-sm-6  timeline-item">
            <div class="row">
              <div class="col-sm-11">
                <div class="timeline-panel credits">
                  <ul class="timeline-panel-ul">
                    <li><span class="importo">Mussum ipsum cacilds</span></li>
                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></li>
                    <li>
                      <p>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small>
                      </p>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-6  timeline-item">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                  <ul class="timeline-panel-ul">
                    <li><span class="importo">Mussum ipsum cacilds</span></li>
                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></li>
                    <li>
                      <p>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small>
                      </p>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row timeline-movement">


          <div class="timeline-badge">
            <span class="timeline-balloon-date-day">13</span>
            <span class="timeline-balloon-date-month">APR</span>
          </div>

          <div class="col-sm-offset-6 col-sm-6  timeline-item">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                  <ul class="timeline-panel-ul">
                    <li><span class="importo">Mussum ipsum cacilds</span></li>
                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-6  timeline-item">
            <div class="row">
              <div class="col-sm-11">
                <div class="timeline-panel credits">
                  <ul class="timeline-panel-ul">
                    <li><span class="importo">Mussum ipsum cacilds</span></li>
                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
